.webcamcapture{
    position: relative;
}
.cam-set{
    position: absolute;
    display: flex;
    width: 100%;
    left:-10%;
    align-items: center;
    justify-content: space-evenly;
    bottom:50px;
    margin:25px;
}
.webcam_capture{
    position: absolute;
    cursor: pointer;
    color: white;
}
.chats_avat{
    position: absolute;
    margin:5px;
    top:-400px;
    height: 32px !important;
    width: 32px !important;
}
.chat_icon{
    position:absolute;
    top: 10px;
    left: 18%;
    color:white;
    font-weight: 600;
    padding: 3px;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(71, 70, 70,0.5);
}
.chat_icon2{
    position:absolute;
    top: 10px;
    right: 15%;
    color:white;
    font-weight: 600;
    padding: 3px;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(71, 70, 70,0.5);
}
.chat_icon3{
    position:absolute;
    top: 10px;
    right: 1%;
    color:white;
    font-weight: 600;
    padding: 3px;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(71, 70, 70,0.5);
}
.web_header{
    display: flex;
}
#cam{
    font-size: 60px;
}
#side{
    color:white;
    font-size: 20px;
    padding: 3px;
    background-color: rgb(82, 81, 81);
    border-radius: 30px;
}
.pre-footer:hover{
    opacity:0.6;
}

/*bottom: 0;
    left:50%;
    transform: translate(-50%,-50%);*/